p {
    background-color: darkgreen;
    color: white

}


mark { 
background-color: pink



}


body { 
background-color: green

}

h2 {
color: white
}

h1 { 
color:white 
}

.nadruk { 
background-color: "green";
color:white;
border-style: dashed; 
border-width: thick;
border-color:aliceblue


}


